*,
*::after,
*::before {
    box-sizing: border-box;
}
:root {
    --dark_blue: #362FD9;
    --medium_blue: #3C84AB;
    --light_blue: #85CDFD;
    --ultra-light: #DEFCF9;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
header img {
    width: 100%;
    position: relative;
    z-index: 0;
}
header .banner {
    position: absolute;
    top: 30%;
    width: 50%;
    min-width: 300px;
}
header .banner .banner__element {
    background-color: #85cdfde0;
    border-radius: 0px 20px 20px 0px;
    height: 80px;
}
header h1 {
    font-size: 36px;
    text-align: end;
    padding-right: 20px;
    line-height: 80px;
    color: var(--ultra-light);
    font-weight: 700;
}
header .banner hr {
    border: none;
    height: 5px;
    background-color: var(--dark_blue);
    border-radius: 0px 20px 20px 0px;
}
.wp__icon {
    background-color: var(--medium_blue);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.wp__icon a {
    text-decoration: none;
    color: var(--ultra-light);
    font-size: 32px;
    transition: 0.5s;
}
.wp__icon a:hover {
    font-size: 38px;
}
nav {
    width: 100%;
    max-width: 1366px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 250px;
}
nav button {
    height: 30px;
    margin-right: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--medium_blue);
    font-size: 26px;
    transition: 0.5s;
}
nav button:hover {
    rotate: 180deg;
}
body main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.strategy {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}
.strategy__elements {
    background-color: var(--medium_blue);
    min-width: 350px;
    max-width: 380px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    margin-top: -184px;
}
.strategy__elements i {
    font-size: 38px;
    color: var(--ultra-light);
}
.strategy__elements p {
    color: var(--ultra-light);
    font-size: 20px;
    text-align: center;
}
.second__section {
    max-width: 1366px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.first__text__element {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.first__text__element h3 {
    font-size: 38px;
    font-weight: 700;
    color: var(--medium_blue);
}
.first__text__element p {
    font-size: 22px;
    color: #434343;
    margin-top: 0;
    margin-bottom: 40px;
}
.first__text__element button {
    width: 150px;
    height: 40px;
    background-color: var(--dark_blue);
    border-radius: 10px;
    border: none;
    transition: 0.5s;
}
.first__text__element button:hover {
    transform: scale(1.1);
}
.first__text__element button a {
    color: var(--ultra-light);
    text-decoration: none;
    font-size: 18px;
}
.first__img__element {
    width: 50%;
}
.first__img__element img  {
    max-width: 100%;
}
.third__section {
    max-width: 1366px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.third__img__section {
    width: 50%;
}
.third__img__section img {
    width: 100%;
}
.third__text__section {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.third__text__section h3 {
    font-size: 38px;
    font-weight: 700;
    color: var(--medium_blue);
}
.third__text__section p {
    font-size: 22px;
    color: #434343;
    margin-top: 0;
    margin-bottom: 40px;
}
.third__text__section button {
    width: 150px;
    height: 40px;
    background-color: var(--dark_blue);
    border-radius: 10px;
    border: none;
    transition: 0.5s;
}
.third__text__section button:hover {
    transform: scale(1.1);
}
.third__text__section button a {
    color: var(--ultra-light);
    text-decoration: none;
    font-size: 18px;
}
.fourt__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    max-width: 1366px;
}
.fourt__section hr {
    width: 95%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background-color: var(--dark_blue);
}
.fourt__section__elements h3 {
    font-size: 38px;
    font-weight: 700;
    color: var(--medium_blue);
}
.fourt__section__elements p {
    font-size: 22px;
    color: #434343;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
.fourt__section__buttons {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.fourt__section__buttons button {
    width: 150px;
    height: 40px;
    background-color: var(--dark_blue);
    border-radius: 10px;
    border: none;
    transition: 0.5s;
}
.fourt__section__buttons button:hover {
    transform: scale(1.1);
}
.fourt__section__buttons button a {
    color: var(--ultra-light);
    text-decoration: none;
    font-size: 18px;
}
.fifth__section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.fifth__section h3 {
    font-size: 38px;
    font-weight: 700;
    color: var(--medium_blue);
    max-width: 900px;
    text-align: center;
}
.display {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    color: #434343;
    font-weight: bold;
}
.fifth__section form label input {
    width: 100%;
    height: 35px;
    margin-bottom: 30px;
    font-size: 14px;
    color: var(--ultra-light);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #3C84AB;
    padding-left: 10px;
}
.fifth__section form button {
    width: 150px;
    height: 40px;
    background-color: var(--dark_blue);
    border-radius: 10px;
    border: none;
    transition: 0.5s;
    color: var(--ultra-light);
    font-size: 18px;
    cursor: pointer;
    line-height: 40px;
}
.fifth__section button:hover {
    transform: scale(1.1);
}
.sixth__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0px;
    max-width: 1366px;
}
.sixth__section h3 {
    font-size: 38px;
    font-weight: 700;
    color: var(--medium_blue);
    text-align: center;
}
.sixth__section__container {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.sixth__section__container img {
    width: 350px;
}
.sixth__section__container p {
    text-align: center;
    width: 350px;
    color: #434343;
    font-weight: bold;
    font-size: 18px;
}
.footer {
    height: 400px;
    background-color: var(--medium_blue);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first__footer {
    width: 50%;
    display: flex;
    justify-content: center;
}
.first__footer img {
    width: 400px;
}
.second__footer {
    width: 50%;
    display: flex;
    justify-content: center;
}
.second__footer a {
    color: var(--ultra-light);
    font-size: 36px;
    text-decoration: none;
}
.plan__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1366px;
}
.plan__section h3 {
    font-size: 38px;
    font-weight: 700;
    color: var(--medium_blue);
    text-align: center;
    max-width: 900px;
}
.plan__section__elements {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.plan__section__first__element {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan__section__first__element div {
    background-color: #3C84AB;
    color: var(--ultra-light);
    text-align: center;
    border-radius: 10px;
}
.plan__section__first__element div p {
    padding: 0 20px;
    font-size: 18px;
}
.plan__section__first__element ul {
    line-height: 30px;
    margin-top: 30px;
}
.plan__section__first__element ul li {
    font-size: 18px;
}
.plan__section__second__element {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.plan__section__second__element div {
    width: 250px;
    background-color: #3C84AB;
    color: var(--ultra-light);
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan__section__second__element div p {
    padding: 0 10px;
    font-size: 18px;
}
.section__calculator {
    margin: 40px 0px;
}
.section__calculator h3 {
    font-size: 38px;
    font-weight: 700;
    color: var(--medium_blue);
    text-align: center;
}
.calculator__elements {
    display: flex;
    gap: 40px;
}
.result__operation {
    display: flex;
    gap: 60px;
    margin-left: 40px;
}
.mensual h4 {
    font-size: 18px;
}
.mensual p {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #434343;
}
.quincenal h4 {
    font-size: 18px;
}
.quincenal p {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #434343;
}
#simulator {
    border: none;
    cursor: pointer;
}
.content__select select {
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 18px;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
.content__select h4 {
    font-size: 18px;
}